[package]
name = "ttt"
version = "0.1.0"
edition = "2024"

[dependencies]
burn = { version = "0.20.0-pre.6", features = [
    "ndarray",
    "train",
    "tui",
    "metrics",
    "rocm",
    "autodiff",
    "cubecl",
    "fusion",
] }
# burn-wgpu = { version = "0.20.0-pre.6", default-features = false }
# burn-tensor = "0.20.0-pre.6"
# burn-core = "0.20.0-pre.6"
# burn-autodiff = "0.20.0-pre.6"
burn-fusion = "0.20.0-pre.6"
burn-cubecl = "0.20.0-pre.6"
burn-backend = { version = "0.20.0-pre.6", features = ["cubecl"] }
cubecl = { version = "0.9.0-pre.6", features = ["hip"] }
cubek = { version = "0.1.0-pre.1", features = ["reduce", "matmul"] }
half = "2.7"

tokenizers = { version = "0.22", features = ["http"] }

# Explicitly enable the rc feature of serde
serde = { version = "1.0", features = ["rc"] }
serde_json = "1.0"

num-traits = "0.2"
derive-new = "0.7"
log = "0.4"
env_logger = "0.11"
# tracing = "0.1.41"

[dev-dependencies]
criterion = { version = "0.8", features = ["html_reports", "csv_output"] }
burn-import = "0.20.0-pre.6"
safetensors = "0.7"

[[bench]]
name = "ttt_benchmark"
harness = false

[features]
default = []
